.App {
  text-align: center;
  border: 2px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display:inline-block;
  width:600px;
  background-color: #000000;
  margin:50px;
  padding:10px;
  color: white;
}

.addtask,.displaytask,.tabTask{
  display:flex;
  align-items: center;  
  justify-content: center;
  margin:auto;
  border:2px solid black;
}

.addtask Input{
  width: 500px;
  padding:10px;
  margin:10px;
  
}

button{
  width:70px;
  padding:10px;
  margin: 10px;
  background-color: black;
  border-radius: 5px;
  color:white
}

ul{
  list-style: none;
  padding:0px;
  width: 620px;
}

.list-item{
  display: grid;
  justify-items: start;
  grid-template-columns: 30px auto 90px;
  grid-gap: 10px;
  grid-auto-flow: row;
  background-color: #2196F3;
  padding: 10px;
}


.tabs{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
}
.tabs li{
  cursor: pointer;
  padding:10px;
  margin:10px;
  border-radius: 5px;
  /* border: 2px solid black; */
}

.tabs li:hover{
  background: rgba(15, 246, 215, 0.15);
}

.tabs li.active{
  background: #39A2DB;
  
}